[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/littlefs"]
	path = src/lib/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "src/lib/libsdlog"]
	path = src/lib/sdlog
	url = https://github.com/ntamas/libsdlog
[submodule "src/lib/socketstream"]
	path = src/lib/socketstream
	url = https://github.com/Protovision/socketstream
[submodule "src/lib/minmea"]
	path = src/lib/minmea
	url = https://github.com/kosma/minmea/
