[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/littlefs"]
	path = src/lib/littlefs
	url = https://github.com/littlefs-project/littlefs
